table{
    width: 600px;
    height: 300px;
    border-spacing: 0;
    border-collapse: collapse;
    margin:auto;
    table-layout: fixed;
}
td,th{
    border: 1px solid black;
    text-align: center;
}
th{
    background-color: yellow;
}
caption{
    font-size: 25px;
    font-style: italic;

}
