body{
    background-image: url(bg.jpg);
    background-size:cover;
}
div{
    width: 600px;
    background-color:#EED0F2;
    border: 3px double black;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 10px;
}
h1{
    font-family: Arial, Georgia;
    font-style: italic;
    color: white;



}
h2{
    color:blue;
    text-align: center;
}
.p1{
    color:red;
}
.p2{
    font-family: Arial, Georgia;
    font-style: italic;
}
