body{
    font-family: Arial;
}
.main {
    background-color: #F5F5DD;
    width: 900px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -200px;
    border: 3px double black;
    box-sizing: border-box;
}

.main div{
    width:800px;
    height:120px;
}
ul {
    list-style: none;
    display: inline-block;
}

li {
    float: left;
    display: inline-block;
    text-align: center;
    margin-left:53px;
    margin-top:10px;
}

.firstDiv li::before {
    content: url('images/checked.png');
    display: block;
    margin-bottom: 20px;
}

.firstDiv li:hover::before {
    content: url('images/checked-hover.png');
    margin-bottom: 20px;
}
div.secondDiv ul>li::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid transparent;
    margin:20px auto;
}

div.secondDiv ul>li:hover::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid orangered;
    border-left: 10px solid orangered;
    border-bottom: 10px solid transparent;
    margin:20 auto;

}
div.thirdDiv li::before {
    content: "❆";
    margin-bottom: 20px;
    display: block;
    color:mediumpurple;
    font-size:30px;
}

div.thirdDiv li:hover::before{
    content: "❆";
    display: block;
    margin-bottom: 20px;
    color:black;
    font-size:30px;
}
a {
    text-decoration: none;
}
